<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <form method="post" action="/member/loginAction.do">
        <table>
            <tbody>
                <tr>
                    <th>이메일</th>
                    <td><input type="text" name="mbEmail"/></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <input type="password" name="mbPassword" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right" >
                        <button type="submit">로그인</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</body>
</html>