<!DOCTYPE html>
<!-- thymeleaf에서 security지원을 사용하기 위해서는 다음과 같이 설정 합니다.

    <html lang="ko" xmlns:th="http://www.thymeleaf.org"> 을 아래와 같이 변경 합니다.

    <html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>welcome page</h1>
    <!-- 로그인 되어 있지 않다면 -->
    <ul sec:authorize="isAnonymous()">
        <li>
            <a href="/member/register.do">회원가입</a>
        </li>

        <li>
            <a href="/auth/login.do">로그인</a>
        </li>

    </ul>

    <!-- 로그인되어 있다면 -->
    <ul sec:authorize="isAuthenticated()">
        <li>
            <span sec:authentication="principal.username" ></span>
            <span sec:authentication="principal.password"></span>
            <ul th:each="item : ${#authentication.authorities}">
                <li th:text="${item}"></li>
            </ul>
        </li>

        <li>
            <a href="/member/myinfo.do">내정보 조회</a>
        </li>

        <li>
            <!-- 로그아웃은 post method를 사용해야 합니다.
                action은 SecurityConfig에 설정한 logout 경로를 설정 합니다.
             -->
            <form method="post" th:action="@{/auth/logoutAction.do}">
                <button type="submit">로그아웃</button>
            </form>
            
        </li>
    </ul>

</body>
</html>